[project]
	description = For building TWRP for OnePlus 5 ONLY
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/katinatez
[access "refs/for/refs/*"]
	read = group user/katinatez
	push = group user/katinatez
	label-Code-Review = -2..+2 group user/katinatez
	label-Verified = -1..+1 group user/katinatez
	rebase = group user/katinatez
	removeReviewer = group user/katinatez
	submit = group user/katinatez
[access "refs/heads/*"]
	read = group user/katinatez
	create = group user/katinatez
	push = +force group user/katinatez
	pushMerge = group user/katinatez
[access "refs/tags/*"]
	push = group user/katinatez
	push = +force group user/katinatez
